/* margin size to be adjusted within height/width limit stated */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* background colour of the website */
body {
    background-color: #d9dcd6;
}

/* settings for all <a> element */
a {
    color: #ffffff;
    text-decoration: none;
}

/* settings for all <p> element */
p {
    font-size: 16px;
}

/* location/formatting for <header> element */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* location/format for text in <h1> within header element */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* format for id=seo */
#seo {
    color: #d9dcd6;
}

/* location/format of text in <menu> within header element */
.header menu {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Placement of the list within <header> element */
.header menu li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

/* background <figure> image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* to indicate where the images are placed and the margin around images */
.float-left {
    float: left;
    margin-right: 25px;
}

/* to indicate where the images are placed and the margin around images */
.float-right {
    float: right;
    margin-left: 25px;
}

/* area size of the main content */
.contents {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* location/format of text within the main content */
.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px; 
    width: 100%;
    background-color: #0072bb;
}

/* location/format of <h2> text within the main content */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* display size of images within the main content */
.content img {
    max-height: 200px;
}

/* area size, location, format of the side content */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* margin size of text within the side content */
.benefit {
    margin-bottom: 32px;
}

/* margin size &  of text within the side content */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* display setup for images within the side content */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* settings for the placement and formatting of text in footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* setting for <h2> in footer */
.footer h2 {
    font-size: 20px;
}
